body,
html {
    height: 100%;
}

a {
    color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
}

body {
    font-weight: 200;
    font-size: 1.2rem;
    background-color: #333;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

.background {
    background-color: #444;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
    /* clip-path: polygon(6% 0, 95% 0, 65% 100%, 18% 100%); */
    clip-path: polygon(100% 0, 100% 57%, 54% 100%, 0 100%, 0 0);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .6);
}

body>.container {
    padding: 60px 15px 0;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 70px;
    /* Vertically center the text there */
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
}

.quote {
    float: right;
    font-size: 0.9rem;
}

.full-height {
    height: 100%;
}

.charactersAll {
    font-size: 0.8rem;
}

.visible {
    visibility: visible !important;
}

.invisible {
    visibility: hidden !important;
}


/* body {
    font-weight: 200;
    font-size: 1.5rem;
    color: #444;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .2);
}

.intro-left {
    background: url(../img/11l.jpg);
    background-size: cover;
    position: fixed;
    left: 0;
    width: 33.3333%;
    height: 100%;
    color: white;
}

@media (max-width: 768px) {
    .intro-left {
        height: 30vh;
        margin-bottom: 0;
        position: relative;
        width: 100%;
    }
}

.avatar {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin: 1rem;
}

.full-height {
    height: 100%;
}

.quote {
    float: right;
}

section {
    margin: 5rem;
    font-size: 1.2 rem;
}

a {
    color: #444;
    text-decoration: none;
}

.footer {
    background-color: #fff;
    font-size: 1rem;
    margin: 0;
}



.background {
    background-color: #eee;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
    clip-path: margin-box;
    clip-path: border-box;
    clip-path: padding-box;
    clip-path: content-box;
    clip-path: fill-box;
    clip-path: stroke-box;
    clip-path: view-box;
    clip-path: polygon(6% 0, 95% 0, 65% 100%, 18% 100%);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .2);
} */